.footer__wrapper {
  width: 100%;
  margin-top: min(5vw, 10rem);

  .container {
    @include grid(center, flex-start, 1.5rem);

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    .footer__box {
      @include grid(flex-start, center, 0.75rem);

      width: 100%;

      .footer__socials {
        @include flex(row, center, center, 1rem);

        flex-wrap: wrap;
        margin-top: 1rem;

        .footer__social {
          font-size: 120%;
        }
      }
    }
  }
}
