.search__wrapper {
  align-self: flex-start;
  grid-area: search;
  width: 100vw;
  // margin: auto;
  background-image: linear-gradient(180deg, transparent 50%, $clr-light 50%);

  .container {
    @include color-scheme(#fff, $clr-dark);

    width: min(80%, 150rem);
    padding: min(5vw, 3rem) min(5vw, 2rem);
    border-radius: 1rem;
    box-shadow: rgba($clr-dark, 0.25) 0px 50px 100px -20px,
      rgba($clr-dark, 0.3) 0px 30px 60px -30px;

    .search__form {
      @include grid(flex-start, center, 1rem);

      grid-template-areas: "input--1" "input--2" "submit" "suggestions";

      @media screen and (min-width: #{$breakpoint-s}px) {
        gap: 2rem;
        grid-template-areas: "input--1 input--2 submit" "suggestions suggestions suggestions";
        grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
      }

      .form__field {
        &:nth-of-type(1) {
          grid-area: input--1;
        }

        &:nth-of-type(2) {
          grid-area: input--2;
        }
      }

      .form__submit {
        grid-area: submit;
        padding: min(5vw, 1.75rem);

        @media screen and (min-width: #{$breakpoint-s}px) {
          aspect-ratio: 1;
        }
      }
    }
  }
}
