.staff__wrapper {
  .container {
    @include grid(center, center, 1rem);

    grid-template-columns: 100%;
    grid-template-areas: "heading" "description" "slider";

    .staff__title {
      grid-area: heading;
    }

    .staff__description {
      grid-area: description;
    }

    .slider {
      margin-top: 5rem;

      .staff__slider {
        .slider__track {
          .staff__list {
            .staff__slide {
              @include grid(center, center, 1rem);

              height: fit-content;
              grid-template-columns: repeat(1, minmax(0, 1fr));

              @media screen and (min-width: #{$breakpoint-s}px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
              }

              @media screen and (min-width: #{$breakpoint-xl}px) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
              }
            }
          }
        }
      }
    }
  }
}
