$breakpoint-xs: 300;
$breakpoint-s: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;

$clr-light: #f8f8f8;
$clr-dark: #0a172e;
$clr-primary: #2204a7;
$clr-secondary: #00000066;
$clr-grey: rgba(0, 0, 0, 0.075);
$clr-accent: #d4e8ff;

$gradient-light: #f7f7f7, #f1f1f1, #f7f7f7;
$gradient-dark: #0a172e, #0d1f3f, #0a172e;
