$breakpoint-xs: 300px;
$breakpoint-s: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$clr-light: #f8f8f8;
$clr-dark: #0a172e;
$clr-primary: #0443a7;
$clr-secondary: #00000066;
$clr-grey: rgba(0, 0, 0, 0.075);
$clr-accent: #e7f0fe;

$gradient-light: #f7f7f7, #f1f1f1, #f7f7f7;
$gradient-dark: #0a172e, #0d1f3f, #0a172e;
