.slider {
  position: relative;
  width: 100%;
  grid-area: slider;

  .splide {
    width: 100%;

    .splide__slide {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
      text-align: center;
    }

    .pagination__bar {
      position: relative;
      margin-top: 1.5rem;

      .pagination__page {
        background-color: $clr-secondary;

        &.is-active {
          background-color: $clr-dark;
          transform: unset;
          box-shadow: 0 0 0 0.2rem $clr-light, 0 0 0 0.3rem $clr-dark;
        }
      }
    }

    .slider__arrow {
      @include color-scheme($clr-grey);
      width: 4rem;
      height: 4rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &.slider__arrow--prev {
        left: 0;
      }

      &.slider__arrow--next {
        right: 0;
      }
    }

    &:hover {
      .slider__arrow {
        opacity: 1;
      }
    }
  }
}
