.tab__item {
  cursor: pointer;
  box-shadow: inset 0 0 0 0.1rem $clr-grey;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 0.25rem rgba($clr-accent, 0.75);
  }

  .splide__slide__container {
    @include flex(column, space-between, center, 1rem);
    padding: min(5vw, 2rem) 0;
    font-weight: 500;

    .item__icon {
      @extend .center-items;
    }
  }
}
