@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@use "sass:list";
.center-items, .hero__wrapper .hero--right .hero__img, .features__wrapper--first .container .features--left .features__list .features__item .item__icon, .features__wrapper--second .container .features__box .box__item .item__wrapper .item__img, .features__wrapper--second .container .features--right .features__list .features__item .item__icon, .hero__icon, .hero__icon i, .tab__item .splide__slide__container .item__icon {
  display: grid;
  place-items: center; }

.round-corners, .features__wrapper--first .container .features--left .features__list .features__item .item__icon, .features__wrapper--second .container .features__box .box__item .item__wrapper .item__img, .features__wrapper--second .container .features--right .features__list .features__item .item__icon, .hero__icon, .hero__icon i {
  aspect-ratio: 1/ 1;
  border-radius: 50%; }

.splide__container {
  box-sizing: border-box;
  position: relative; }

.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important; }

.splide.is-initialized:not(.is-active) .splide__list {
  display: block; }

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none; }

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto; }

.splide__progress__bar {
  width: 0; }

.splide {
  position: relative;
  visibility: hidden; }

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible; }

.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative; }

.splide__slide img {
  vertical-align: bottom; }

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px; }

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none; }

.splide__toggle.is-active .splide__toggle__pause {
  display: inline; }

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0; }

@keyframes splide-loading {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.splide__track--fade > .splide__list {
  display: block; }

.splide__track--fade > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0; }

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1; }

.splide--rtl {
  direction: rtl; }

.splide__track--ttb > .splide__list {
  display: block; }

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1; }

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em; }

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9; }

.splide__arrow:disabled {
  opacity: 0.3; }

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide__arrow--prev {
  left: 1em; }

.splide__arrow--prev svg {
  transform: scaleX(-1); }

.splide__arrow--next {
  right: 1em; }

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1; }

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px; }

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1; }

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9; }

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide__progress__bar {
  background: #ccc;
  height: 3px; }

.splide__slide {
  -webkit-tap-highlight-color: transparent; }

.splide__slide:focus {
  outline: 0; }

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px; } }
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf; } }
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px; } }
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf; }

  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf; } }
.splide__toggle {
  cursor: pointer; }

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px; }

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer; }

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000; }

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em; }

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1); }

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto; }

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1); }

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%); }

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em; }

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg); }

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto; }

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg); }

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0; }

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

html {
  scroll-behavior: smooth; }

body {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 5rem;
  grid-template-columns: 100%;
  color: #0a172e;
  background-color: #f8f8f8; }
  body main {
    display: grid;
    grid-template-columns: 100%;
    gap: min(15vw, 15rem); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #0a172e; }

input,
select,
textarea,
img {
  width: 100%; }

*,
*::before,
*:after {
  font-family: inherit; }

html {
  font-size: 62.5%;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem); }

button,
input {
  font: inherit; }

h1 {
  font-size: min(6.5vmin, 7.5rem); }

h2 {
  font-size: min(6vmin, 4rem); }

.container {
  width: min(90%, 150rem);
  padding: 1.5rem;
  margin: auto; }

.header__wrapper {
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  backdrop-filter: blur(1rem) opacity(0); }
  .header__wrapper.header__wrapper--scrolled {
    color: #0a172e;
    background-color: rgba(212, 232, 255, 0.9); }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      .header__wrapper.header__wrapper--scrolled {
        color: #0a172e;
        background-color: rgba(212, 232, 255, 0.75);
        backdrop-filter: blur(1rem) opacity(1); } }
  .header__wrapper > .container {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 2.5rem;
    grid-template-columns: auto 1fr; }
    @media screen and (max-width: 767px) {
      .header__wrapper > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0; } }
    .header__wrapper > .container .menu__btn {
      display: none; }
      @media screen and (max-width: 767px) {
        .header__wrapper > .container .menu__btn {
          display: grid;
          width: min-content; }
          .header__wrapper > .container .menu__btn--close {
            position: absolute;
            top: 0;
            bottom: unset;
            left: unset;
            right: 0; } }

@use "sass:list";
.hero__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  color: #0a172e;
  background-color: #d4e8ff;
  min-height: 100vh;
  padding-top: 10rem;
  background: linear-gradient(141deg, rgba(212, 232, 255, 0.95), rgba(212, 232, 255, 0.75)), url("../assets/images/hero/national-cancer-institute-odggKTyA5o0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75%;
  overflow-x: clip; }
  .hero__wrapper > .container {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 0 2rem;
    grid-template-columns: 100%;
    grid-template-areas: "info" "img" "search";
    padding-bottom: 0;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .hero__wrapper > .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: "info img" "search search"; } }
  .hero__wrapper .hero--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    grid-area: info;
    margin-bottom: 2rem; }
    @media screen and (min-width: 768px) {
      .hero__wrapper .hero--left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem; } }
    .hero__wrapper .hero--left .hero__title {
      width: min(100%, 75rem); }
    .hero__wrapper .hero--left .hero__achievments {
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: unset;
      gap: 1rem; }
      @media screen and (min-width: 992px) {
        .hero__wrapper .hero--left .hero__achievments {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          align-items: stretch;
          width: min(100%, 45rem); } }
      .hero__wrapper .hero--left .hero__achievments .hero__achievment {
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: unset;
        gap: 1.5rem;
        color: #f8f8f8;
        background-color: #0a172e;
        width: 100%;
        grid-template-columns: auto 1fr;
        padding: min(5vw, 1rem) min(5vw, 1.5rem);
        font-weight: 500;
        border-radius: 0.5rem;
        text-align: justify; }
  .hero__wrapper .hero--right {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 0;
    grid-area: img;
    align-self: flex-end;
    position: relative;
    width: 100%;
    overflow: hidden; }
    .hero__wrapper .hero--right .hero__img {
      margin-top: auto; }
      .hero__wrapper .hero--right .hero__img img {
        z-index: 1;
        width: min(40vw, 50rem); }

.search__wrapper {
  align-self: flex-start;
  grid-area: search;
  width: 100%;
  margin: auto; }
  .search__wrapper .container {
    color: #0a172e;
    background-color: #fff;
    padding: min(5vw, 3rem) min(5vw, 2rem);
    border-radius: 1rem;
    box-shadow: rgba(10, 23, 46, 0.25) 0px 50px 100px -20px, rgba(10, 23, 46, 0.3) 0px 30px 60px -30px;
    transform-style: preserve-3d; }
    .search__wrapper .container::before {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      color: #0a172e;
      background-color: #f8f8f8;
      content: "";
      width: 100vw;
      height: 51%;
      transform: translate3d(-50%, 0, -1px); }
    .search__wrapper .container .search__form {
      display: grid;
      justify-items: flex-start;
      align-items: center;
      justify-content: unset;
      gap: 1rem;
      grid-template-areas: "input--1" "input--2" "submit" "suggestions"; }
      @media screen and (min-width: 576px) {
        .search__wrapper .container .search__form {
          gap: 2rem;
          grid-template-areas: "input--1 input--2 submit" "suggestions suggestions suggestions";
          grid-template-columns: repeat(2, minmax(0, 1fr)) auto; } }
      .search__wrapper .container .search__form .form__field:nth-of-type(1) {
        grid-area: input--1; }
      .search__wrapper .container .search__form .form__field:nth-of-type(2) {
        grid-area: input--2; }
      .search__wrapper .container .search__form .form__submit {
        grid-area: submit;
        padding: min(5vw, 1.75rem); }
        @media screen and (min-width: 576px) {
          .search__wrapper .container .search__form .form__submit {
            aspect-ratio: 1; } }

.search__tabs .container {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: unset;
  gap: 5rem 0;
  grid-template-columns: 100%;
  grid-template-areas: "header" "labels" "slider"; }
  .search__tabs .container .section__header {
    grid-area: header; }
  .search__tabs .container .tabs__labels {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    grid-area: labels;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: 0.3rem 0 0 -0.1rem #2204a7; }
    @media screen and (min-width: 768px) {
      .search__tabs .container .tabs__labels {
        padding-right: 3rem;
        margin-right: 3rem; } }
    .search__tabs .container .tabs__labels .tab__label {
      position: relative;
      padding: 0.5rem 1rem;
      color: #00000066;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.3s ease-in-out; }
      .search__tabs .container .tabs__labels .tab__label.tab__label--active {
        color: #0a172e;
        font-weight: 600; }
      .search__tabs .container .tabs__labels .tab__label:first-of-type::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        background-color: #d4e8ff;
        z-index: -1;
        transform: translateY(calc(var(--active-index) * 100% + var(--active-index) * 1rem));
        transition: transform 0.1s ease-in-out; }
      .search__tabs .container .tabs__labels .tab__label:hover {
        color: rgba(10, 23, 46, 0.75); }
    @media screen and (max-width: 299px) {
      .search__tabs .container .tabs__labels {
        height: 100%;
        width: 100%;
        padding-bottom: 1.5rem;
        box-shadow: 0 0.3rem 0 -0.1rem #2204a7; } }
  .search__tabs .container .slider .splide {
    position: absolute; }
  @media screen and (min-width: 300px) {
    .search__tabs .container {
      grid-template-columns: auto 1fr;
      grid-template-areas: "header header" "labels slider"; } }

@media screen and (min-width: 768px) {
  .features__wrapper--first .container {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    grid-template-columns: minmax(0, 10fr) auto minmax(0, 1fr); } }
@media screen and (min-width: 992px) {
  .features__wrapper--first .container {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    grid-template-columns: minmax(0, 2fr) auto minmax(0, 1fr); } }
.features__wrapper--first .container .features--left {
  display: grid;
  justify-items: flex-start;
  align-items: center;
  justify-content: unset;
  gap: 2rem; }
  .features__wrapper--first .container .features--left .features__list {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 2rem; }
    .features__wrapper--first .container .features--left .features__list .features__item {
      display: grid;
      justify-items: flex-start;
      align-items: center;
      justify-content: unset;
      gap: 1rem;
      grid-template-columns: min-content 1fr;
      grid-template-areas: "icon title" "seperator description"; }
      .features__wrapper--first .container .features--left .features__list .features__item .item__icon {
        grid-area: icon;
        padding: min(5vw, 1rem); }
      .features__wrapper--first .container .features--left .features__list .features__item:nth-of-type(1) .item__icon {
        color: #6b1ce8;
        background-color: rgba(107, 28, 232, 0.075); }
      .features__wrapper--first .container .features--left .features__list .features__item:nth-of-type(2) .item__icon {
        color: #2204a7;
        background-color: rgba(34, 4, 167, 0.075); }
      .features__wrapper--first .container .features--left .features__list .features__item:nth-of-type(3) .item__icon {
        color: #00b848;
        background-color: rgba(0, 184, 72, 0.075); }
      .features__wrapper--first .container .features--left .features__list .features__item h3 {
        grid-area: title; }
      .features__wrapper--first .container .features--left .features__list .features__item .item__seperator {
        grid-area: seperator;
        width: 0.2rem;
        height: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.075); }
      .features__wrapper--first .container .features--left .features__list .features__item .item__description {
        grid-area: description; }
.features__wrapper--first .container .features__form {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  color: #0a172e;
  background-color: #fff;
  grid-area: 1/ 2/ -1/ 3;
  width: 55%;
  height: fit-content;
  padding: min(5vw, 1.5rem);
  margin-top: auto;
  border-radius: 1rem;
  z-index: 1;
  box-shadow: rgba(10, 23, 46, 0.25) 0px 50px 100px -20px, rgba(10, 23, 46, 0.3) 0px 30px 60px -30px; }
  @media screen and (max-width: 767px) {
    .features__wrapper--first .container .features__form {
      display: none; } }
.features__wrapper--first .container .features--right {
  grid-area: 1/ 2/ -1/ -1;
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  border-radius: 43% 57% 29% 71% / 58% 44% 56% 42%;
  background-image: url("../assets/images/features/1_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1.9rem #f8f8f8, 0 0 0 2rem #8198a083, 0 0 0 3.9rem #f8f8f8, 0 0 0 4rem #8198a083; }
  @media screen and (max-width: 767px) {
    .features__wrapper--first .container .features--right {
      display: none; } }

.features__wrapper--second {
  color: #0a172e;
  background-color: rgba(212, 232, 255, 0.75); }
  .features__wrapper--second .container {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    grid-template-columns: 100%; }
    @media screen and (min-width: 768px) {
      .features__wrapper--second .container {
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1.5fr);
        padding-top: unset;
        padding-bottom: unset; } }
    @media screen and (min-width: 992px) {
      .features__wrapper--second .container {
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 2fr);
        gap: 3rem; } }
    .features__wrapper--second .container .features--left {
      grid-area: 1/ 1/ -1/ 3;
      position: relative;
      width: min(90%, 50rem);
      height: 80%;
      margin-right: 5rem;
      margin-top: auto;
      border-radius: 39% 12% 10% 10% / 54% 9% 0% 0%;
      background-color: #d4e5ffc7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      @media screen and (max-width: 767px) {
        .features__wrapper--second .container .features--left {
          display: none; } }
      .features__wrapper--second .container .features--left .features__img {
        position: absolute;
        bottom: 0;
        height: 130%; }
        .features__wrapper--second .container .features--left .features__img img {
          height: 100%;
          object-fit: cover; }
    .features__wrapper--second .container .features__box {
      display: grid;
      justify-items: flex-start;
      align-items: center;
      justify-content: unset;
      gap: 0;
      color: #0a172e;
      background-color: #fff;
      grid-area: 1/ 2/ -1/ 3;
      width: 80%;
      height: fit-content;
      padding: min(5vw, 0.75rem);
      margin-top: auto;
      border-radius: 1rem;
      z-index: 1;
      box-shadow: rgba(10, 23, 46, 0.25) 0px 50px 100px -20px, rgba(10, 23, 46, 0.3) 0px 30px 60px -30px; }
      @media screen and (max-width: 767px) {
        .features__wrapper--second .container .features__box {
          display: none; } }
      .features__wrapper--second .container .features__box .box__item {
        width: 100%; }
        .features__wrapper--second .container .features__box .box__item .item__wrapper {
          display: grid;
          justify-items: flex-start;
          align-items: center;
          justify-content: unset;
          gap: 1rem;
          grid-template-columns: 3rem 1fr auto;
          padding: min(5vw, 0.5rem);
          border-radius: 1rem;
          cursor: pointer; }
          .features__wrapper--second .container .features__box .box__item .item__wrapper:hover {
            background: rgba(0, 0, 0, 0.075); }
          .features__wrapper--second .container .features__box .box__item .item__wrapper .item__img {
            object-fit: cover; }
    .features__wrapper--second .container .features--right {
      display: grid;
      justify-items: flex-start;
      align-items: center;
      justify-content: unset;
      gap: 2rem;
      padding: min(5vw, 10rem) 0; }
      .features__wrapper--second .container .features--right .features__list {
        display: grid;
        justify-items: flex-start;
        align-items: center;
        justify-content: unset;
        gap: 1.5rem;
        grid-template-rows: repeat(5, minmax(0, 1fr)); }
        .features__wrapper--second .container .features--right .features__list .features__item {
          display: grid;
          justify-items: flex-start;
          align-items: center;
          justify-content: unset;
          gap: 1.5rem;
          grid-template-columns: auto 1fr;
          font-weight: 500; }
          .features__wrapper--second .container .features--right .features__list .features__item .item__icon {
            min-width: 1rem;
            min-height: 1rem;
            padding: min(5vw, 0.5rem);
            color: #2204a7;
            line-height: 1;
            box-shadow: 0 0 0 0.2rem #2204a7; }

.staff__wrapper .container {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  grid-template-columns: 100%;
  grid-template-areas: "header" "slider"; }
  .staff__wrapper .container .section__header {
    grid-area: header; }
  .staff__wrapper .container .slider {
    margin-top: 5rem; }
    .staff__wrapper .container .slider .staff__slider .slider__track .staff__list .staff__slide {
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: unset;
      gap: 1rem;
      height: fit-content;
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
      @media screen and (min-width: 576px) {
        .staff__wrapper .container .slider .staff__slider .slider__track .staff__list .staff__slide {
          grid-template-columns: repeat(2, minmax(0, 1fr)); } }
      @media screen and (min-width: 1200px) {
        .staff__wrapper .container .slider .staff__slider .slider__track .staff__list .staff__slide {
          grid-template-columns: repeat(4, minmax(0, 1fr)); } }

.feedbacks__wrapper .container {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  grid-template-areas: "header" "slider";
  grid-template-columns: 100%; }
  .feedbacks__wrapper .container .section__header {
    grid-area: header; }
  .feedbacks__wrapper .container .feedbacks__slider {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 3rem;
    grid-area: slider;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 5rem; }
    @media screen and (max-width: 767px) {
      .feedbacks__wrapper .container .feedbacks__slider {
        grid-template-columns: 100%; } }
    .feedbacks__wrapper .container .feedbacks__slider .feedback--left {
      width: min(100%, 50rem);
      height: 100%;
      background-color: #d4e8ff;
      border-radius: 78% 15% 10% 0% / 47% 33% 0% 46%; }
      @media screen and (max-width: 767px) {
        .feedbacks__wrapper .container .feedbacks__slider .feedback--left {
          display: none; } }
      .feedbacks__wrapper .container .feedbacks__slider .feedback--left.feedback--animated {
        animation: fade 0.5s ease-in-out forwards; }
      .feedbacks__wrapper .container .feedbacks__slider .feedback--left .feedbacks__img {
        width: 100%;
        aspect-ratio: 1;
        background-image: url("../assets/images/feedback/feedback_4.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat; }
    .feedbacks__wrapper .container .feedbacks__slider .feedback--right {
      width: 100%; }
      .feedbacks__wrapper .container .feedbacks__slider .feedback--right .slider .splide {
        position: absolute;
        top: 0;
        left: 0; }

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
.subscribe__wrapper {
  position: relative;
  width: 80%;
  margin: auto; }
  .subscribe__wrapper .container {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 1.5rem;
    color: #f8f8f8;
    background-color: #2204a7;
    padding: min(5vw, 3rem) min(5vw, 2rem);
    border-radius: 1rem;
    box-shadow: rgba(10, 23, 46, 0.25) 0px 50px 100px -20px, rgba(10, 23, 46, 0.3) 0px 30px 60px -30px;
    text-align: center; }
    .subscribe__wrapper .container .subscribe__form .btn {
      color: #f8f8f8;
      background-color: #0a172e; }

.footer__wrapper {
  width: 100%;
  margin-top: min(5vw, 10rem);
  padding-bottom: 5rem; }
  .footer__wrapper .container {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    justify-content: unset;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
    .footer__wrapper .container .footer__box {
      display: grid;
      justify-items: flex-start;
      align-items: center;
      justify-content: unset;
      gap: 0.75rem;
      width: 100%; }
      .footer__wrapper .container .footer__box .footer__socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 1rem; }
        .footer__wrapper .container .footer__box .footer__socials .footer__social {
          font-size: 140%;
          cursor: pointer;
          transition: opacity 0.3s ease-in-out; }
          .footer__wrapper .container .footer__box .footer__socials .footer__social:hover {
            opacity: 0.8; }
      .footer__wrapper .container .footer__box .box__link {
        position: relative;
        display: block;
        padding: 0.5rem 0.1rem; }
        .footer__wrapper .container .footer__box .box__link::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1rem;
          background-color: #0a172e;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease-in-out; }
        .footer__wrapper .container .footer__box .box__link:hover::before {
          transform: scaleX(1);
          transform-origin: left; }

.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(100%, 75rem);
  text-align: left; }
  @media screen and (max-width: 767px) {
    .section__header {
      text-align: center; } }
  .section__header.section__header--centered {
    text-align: center; }

.description {
  width: min(100%, 100rem);
  color: #00000066; }

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  grid-template-columns: min(30vw, 2.5rem) 1fr;
  color: #0a172e;
  font-weight: 700;
  font-size: 120%; }
  .logo .logo__icon {
    width: min(5vw, 3.5rem); }
    .logo .logo__icon .icon__rect {
      fill: #2204a7; }
    .logo .logo__icon .icon__circle {
      fill: #f8f8f8; }
    .logo .logo__icon .icon__plus--line {
      fill: #2204a7; }

.btn {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  padding: min(5vw, 1rem) min(5vw, 1.5rem);
  border: 0;
  background-color: transparent;
  font-weight: 500;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out; }
  .btn:hover {
    opacity: 0.9; }
  .btn--primary {
    color: #f8f8f8;
    background-color: #2204a7; }
  .btn--secondary {
    color: #0a172e;
    background-color: transparent; }

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .header__menu {
      position: fixed;
      top: 0;
      bottom: unset;
      left: unset;
      right: 0;
      color: #0a172e;
      background-color: #fff;
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: unset;
      gap: 0;
      min-height: 100vh;
      grid-template-rows: 1fr auto;
      grid-template-columns: auto;
      width: min(100%, 30rem);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000; }
      .header__menu--open {
        transform: translateX(0); } }
  .header__menu .header__navbar {
    text-align: center; }
    @media screen and (max-width: 767px) {
      .header__menu .header__navbar {
        width: 100%; } }
    .header__menu .header__navbar .navbar__list {
      display: flex;
      flex-direction: row;
      justify-content: unset;
      align-items: center;
      gap: 1rem; }
      @media screen and (max-width: 767px) {
        .header__menu .header__navbar .navbar__list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0; } }
      .header__menu .header__navbar .navbar__list .navbar__item {
        position: relative;
        padding: 0.5rem;
        font-weight: 500; }
        .header__menu .header__navbar .navbar__list .navbar__item::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1rem;
          background-color: #0a172e;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease-in-out; }
        .header__menu .header__navbar .navbar__list .navbar__item:hover::before {
          transform: scaleX(1);
          transform-origin: left; }
        @media screen and (max-width: 767px) {
          .header__menu .header__navbar .navbar__list .navbar__item {
            width: 75%;
            padding: 1rem; }
            .header__menu .header__navbar .navbar__list .navbar__item:not(:last-of-type) {
              box-shadow: inset 0 -0.1rem 0 0 rgba(0, 0, 0, 0.075); } }
  .header__menu .header__btns {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: unset;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    width: 100%; }
    @media screen and (max-width: 299px) {
      .header__menu .header__btns {
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: auto;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .header__menu .header__btns {
        width: max-content; } }
    .header__menu .header__btns .header__btn {
      position: relative;
      transition: all 0.5s ease-in-out; }
      .header__menu .header__btns .header__btn:first-of-type::before {
        content: "";
        background-color: #2204a7;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        z-index: -1;
        transform: translateX(calc(var(--active-index) * 100% + var(--active-index) * 0.5rem));
        transition: all 0.3s ease-in-out; }
        .header__menu .header__btns .header__btn:first-of-type::before:hover {
          background-color: yellow; }
      .header__menu .header__btns .header__btn.header__btn--active {
        color: #f8f8f8; }

.hero__icon {
  position: absolute;
  top: 50%;
  bottom: unset;
  left: 50%;
  right: unset;
  box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.075);
  transform: translate(-50%, -50%);
  animation: spin 8s linear infinite; }
  .hero__icon:nth-of-type(3n + 1) {
    animation-direction: reverse; }
  .hero__icon:nth-of-type(1) {
    width: 30%;
    animation-delay: 0.5s; }
    .hero__icon:nth-of-type(1) i {
      animation-delay: 0.5s; }
  .hero__icon:nth-of-type(2) {
    width: 45%;
    animation-delay: 0.1s; }
    .hero__icon:nth-of-type(2) i {
      animation-delay: 0.1s; }
  .hero__icon:nth-of-type(3) {
    width: 60%;
    animation-delay: 0.9s; }
    .hero__icon:nth-of-type(3) i {
      animation-delay: 0.9s; }
  .hero__icon:nth-of-type(4) {
    width: 75%;
    animation-delay: 0.35s; }
    .hero__icon:nth-of-type(4) i {
      animation-delay: 0.35s; }
  .hero__icon:nth-of-type(5) {
    width: 90%;
    animation-delay: 0.85s; }
    .hero__icon:nth-of-type(5) i {
      animation-delay: 0.85s; }
  .hero__icon i {
    position: absolute;
    top: 100%;
    bottom: unset;
    left: 50%;
    right: unset;
    color: #2204a7;
    background-color: #fff;
    padding: min(2.5vw, 1rem);
    transform: translate(-50%);
    animation: spin-rev 6.5s linear infinite;
    box-shadow: rgba(10, 23, 46, 0.25) 0px 50px 100px -20px, rgba(10, 23, 46, 0.3) 0px 30px 60px -30px; }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotateZ(0); }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg); } }
@keyframes spin-rev {
  0% {
    transform: translate(-50%, -50%) rotateZ(0); }
  100% {
    transform: translate(-50%, -50%) rotateZ(-360deg); } }
.form__field {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  color: #0a172e;
  background-color: #f8f8f8;
  width: 100%;
  padding: min(5vw, 1rem);
  grid-template-columns: auto 1fr;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.075); }
  .form__field:focus-within {
    box-shadow: 0 0 0 0.2rem #00000066; }
  .form__field .form__input {
    border: 0;
    background-color: transparent;
    outline: 0; }
  .form__field .form__icon {
    font-size: 120%; }

.search__suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  grid-area: suggestions; }
  .search__suggestions b {
    font-size: 110%; }
  .search__suggestions .suggestions__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: min(3vw, 1rem);
    flex-wrap: wrap; }
    .search__suggestions .suggestions__list .suggestion__item {
      color: #0a172e;
      background-color: #d4e8ff;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out; }
      .search__suggestions .suggestions__list .suggestion__item:hover {
        opacity: 0.85; }
      .search__suggestions .suggestions__list .suggestion__item:last-of-type {
        color: #2204a7;
        font-weight: 500; }

.slider {
  position: relative;
  width: 100%;
  grid-area: slider; }
  .slider .splide {
    width: 100%; }
    .slider .splide .splide__slide {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
      text-align: center; }
    .slider .splide .pagination__bar {
      position: relative;
      margin-top: 1.5rem; }
      .slider .splide .pagination__bar .pagination__page {
        background-color: #00000066; }
        .slider .splide .pagination__bar .pagination__page.is-active {
          background-color: #0a172e;
          transform: unset;
          box-shadow: 0 0 0 0.2rem #f8f8f8, 0 0 0 0.3rem #0a172e; }
    .slider .splide .slider__arrow {
      color: #0a172e;
      background-color: rgba(0, 0, 0, 0.075);
      width: 4rem;
      height: 4rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
      .slider .splide .slider__arrow.slider__arrow--prev {
        left: 0; }
      .slider .splide .slider__arrow.slider__arrow--next {
        right: 0; }
    .slider .splide:hover .slider__arrow {
      opacity: 1; }

.tab__item {
  box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.3s ease-in-out; }
  .tab__item:hover {
    box-shadow: inset 0 0 0 0.25rem rgba(212, 232, 255, 0.75); }
  .tab__item .splide__slide__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: min(5vw, 2rem) 0;
    font-weight: 500; }

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #00000066; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 4, 167, 0.75); }

.staff__item .item__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.3s ease-in-out; }
  .staff__item .item__wrapper .item__img {
    aspect-ratio: 1;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 1rem; }

.feedback__box {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: unset;
  gap: 1rem; }
  .feedback__box .box__header {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: unset;
    gap: 0 1rem;
    width: 100%;
    grid-template-columns: min(100%, 7.5rem) 1fr;
    grid-template-areas: "img name" "img location" "img rating"; }
    .feedback__box .box__header .img__container {
      grid-area: img;
      width: 100%;
      position: relative;
      aspect-ratio: 1;
      border-radius: 1rem;
      overflow: hidden;
      background-color: rgba(0, 134, 187, 0.5); }
      .feedback__box .box__header .img__container .header__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-55%, 0);
        width: 200%;
        object-fit: cover; }
    .feedback__box .box__header .header__name {
      grid-area: name; }
    .feedback__box .box__header .header__location {
      grid-area: location; }
    .feedback__box .box__header .header__rating {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.1rem;
      grid-area: rating; }
      .feedback__box .box__header .header__rating .rating__star {
        color: #00000066; }
        .feedback__box .box__header .header__rating .rating__star.rating__star--highlighted {
          color: #ff9900; }
  .feedback__box .box__body {
    text-align: left;
    color: #00000066; }

/*# sourceMappingURL=styles.css.map */
